// Sulphur Point font from google fonts. Using only 3 font weight which are 300,400, 700
@layer base {
  @font-face {
    font-family: "Sulphur Point";
    src: url("../assets/fonts/sulphur-point/light/SulphurPoint-Light.woff2")
        format("woff2"),
      url("../assets/fonts/sulphur-point/light/SulphurPoint-Light.woff")
        format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sulphur Point";
    src: url("../assets/fonts/sulphur-point/regular/SulphurPoint-Regular.woff2")
        format("woff2"),
      url("../assets/fonts/sulphur-point/regular/SulphurPoint-Regular.woff")
        format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "Sulphur Point";
    src: url("../assets/fonts/sulphur-point/bold/SulphurPoint-Bold.woff2")
        format("woff2"),
      url("../assets/fonts/sulphur-point/bold/SulphurPoint-Bold.woff")
        format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
  }
}
