// Class to apply transition animation on all state such as change of width, visibility etc
.animateTransition {
  transition: all 0.3s ease;
}

// Class to apply transition animation through width change of sidebar
.animateSidebar {
  transition: width 0.2s ease;
}

// Class to apply transition animation through width change of Toggle Sidebar button and User avatar
.animateFlexDirection {
  transition: width 0.25s ease;
}

// Class to apply rotation to the Toggle sidebar button
.rotateArrowClockwise {
  transform: rotate(180deg);
}

// Class to apply transition animation through visibility change of texts
.animateVisibleTransition {
  transition: visibility 0s, opacity 0.5s linear;
}

// Class to apply growing animation for the Did You Know card
.animateDidYouKnowGrow {
  animation: createBox 0.3s;
}

@keyframes createBox {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
