<!-- Layout container -->
<div class="flex ">
  <!-- Sidebar section -->
  <nav
    class="bg-white {{ isSidebarCollapse ?  'w-20' : 'w-72'}}  h-screen  flex flex-col justify-between items-center animateSidebar shadow-md">
    <!-- Sidebar top section -->
    <div class="flex flex-col w-full gap-2">
      <!-- Sidebar header with logo and text -->
      <header class="flex items-center gap-5 px-5 mt-8">
        <div class="flex items-center justify-center flex-none rounded-full w-9 h-9 bg-primary-color">
          <p class="text-sm text-white ">Logo</p>
        </div>
        <div class="flex-none leading-none">
          <p
            class="font-bold {{isSidebarCollapse ? 'opacity-0 invisible' : 'opacity-100 visible'}} animateVisibleTransition">
            Figma Test</p>
          <p
            class="text-sm {{isSidebarCollapse ? 'opacity-0 invisible' : 'opacity-100 visible'}} animateVisibleTransition">
            Hello
            world</p>
        </div>
      </header>
      <!-- Sidebar navigation link -->
      <app-navigation-link class="mt-10" [isSidebarCollapse]="isSidebarCollapse"
        [sidebarNavigations]="sidebarNavigations">
      </app-navigation-link>

    </div>
    <!-- Sidebar bottom section -->
    <div class="flex flex-col justify-center gap-10 px-6 py-6 ">
      <!-- 'Did you know' card -->
      <app-did-you-know [isSidebarCollapse]="isSidebarCollapse" [infoText]="didYouKnowText"></app-did-you-know>
      <!-- User avatar and Sidebar toggle button -->
      <div
        class="flex justify-between items-center animateFlexDirection {{ isSidebarCollapse ? 'flex-col gap-3 w-0' : 'flex-row w-52'}} ">
        <!-- User avatar -->
        <app-user-avatar [isSidebarCollapse]="isSidebarCollapse" [userName]="userAvatarName"></app-user-avatar>
        <!-- Sidebar toggle button -->
        <button
          class="bg-primary-color-light rounded-full p-1 animateTransition {{ isSidebarCollapse ? 'rotateArrowClockwise' : ''}}"
          (click)=" toggleWidth()">
          <app-icon [iconID]="'arrow-left'" [iconClass]="'w-7 h-7'"></app-icon>
        </button>
      </div>
    </div>
  </nav>
  <!-- Topbar, Content, Footer section -->
  <div class="flex flex-col justify-between w-full h-screen overflow-y-auto ">
    <div class="">
      <!-- Topbar section -->
      <header id="topbar" class="flex items-end justify-between w-full h-20 px-6 py-3">
        <!-- Here is where the topbar components are placed such as Dropdown select, clock, and fullscreen button -->
        <div>
          <app-select-station></app-select-station>
        </div>
        <div class="flex items-center gap-2">
          <app-clock></app-clock>
          <app-system-status></app-system-status>
          <app-notification></app-notification>
          <app-fullscreen></app-fullscreen>
        </div>
      </header>
      <!-- Content section -->
      <section class="px-6 py-3 ">
        <!-- Here is where the router outlet is placed using ng-content-->
        <ng-content></ng-content>
      </section>
    </div>
    <!-- Footer section -->
    <footer class="flex items-center justify-center w-full px-6 py-3 h-28">
      <p class="text-sm">Figma Test by Azizan Azman</p>
    </footer>
  </div>
</div>
